@import '../_globals';

.file-inputs__upload-card {
  align-self: flex-start;
  margin: 8px;
  margin-left: 0px;
  margin-right: 0px;
  max-width: 320px;
  position: relative;
  width: 100%;

  &--application.md-card {
    background: get-color('background', false);
  }
}

.aspect-ratio {
  width: 100%;
  position: relative; /* If you want text inside of it */
}

.aspect-ratio img {
  width: 100%;
}
