#splash-settings-dialog {
}

#splash-settings-dialog section {
  padding: 0;
}

#splash-settings-dialog > section > section > ul {
  overflow-x: hidden;
}

#splash-settings-dialog > section > section > ul > li {
  padding-bottom: 16px; /* 14px + 2px underline */
}

.react-swipeable-view-container > div {
  padding: 6px;
  -ms-overflow-style: none;
}

.react-swipeable-view-container > div::-webkit-scrollbar {
  display: none;
}
