@import '../_globals';

#splash-settings-dialog > section {
  padding: 0px;
  margin-top: -1px;
  height: 100%;
}

#splash-settings-dialog > section > section {
  padding-top: 48px;
  height: 100%;
}

#splash-settings-dialog > section > section > ul {
  padding-left: 0px !important;
  position: fixed;
  margin-top: -48px;
  width: 100%;
}

#splash-settings-dialog > section > section > ul > li {
  padding-top: 17px;
  padding-bottom: 17px;
}

#splash-settings-dialog > section > section > div {
  height: 100%;
  overflow: hidden;
}

#splash-settings-dialog
  > section
  > section
  > div
  .react-swipeable-view-container {
  height: 100%;
  //   overflow-x: auto;
}

#splash-settings-dialog > section > section > div > div > div {
  // the containers for each tab's content
  overflow-y: hidden;
  padding: 12px;
  height: 100% !important;
}

.text-fields {
  // The inline indicator expects an icon sized element
  &__inline-btn.md-btn {
    height: $md-font-icon-size;
    padding: 0;
    width: $md-font-icon-size;

    @media #{$md-desktop-media} {
      height: $md-font-icon-dense-size;
      width: $md-font-icon-dense-size;
    }
  }
}
